/jdk/
/javafx/
/bin/
/copiedData/
/classes/


/donorDot.triangle.v3.GDS
/donorDotControl.xml
/fftImage.png
/STMChip_Template_June9_2021.gds
/Thumbs.db
/javafx.zip
/jdk.zip
/.classpath
/config.xml
